*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color:#F1EFEF;
  }
nav{
    position: sticky;
    top: 0;
}

  header.navbar-container {
    position:sticky;
    width: 100%;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline: auto;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    z-index: 9999;
    background-color: #CCCBAA;
  }
   
  header.navbar-container .logo img {
    width: 150px;
  }

  header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
  }
  header.navbar-container .nav-list li {
    list-style-type: none;
  }
  header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    transition: all 0.2s ease-in-out;
  }
  header.navbar-container .nav-list li:hover a {
    background-color: #191717;
    color: #F1EFEF;
  }
   
  main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex-flow: column nowrap;
    display: flex;
    align-items: center;
  }
   
  main .content {
    flex: 1;
    display: flex;
    align-items: center;
  }
  main .content .content-description {
    flex: 1 1;
  }
  main .content .content-description .title {
    margin-block: 1rem;
    font-size: 3.5rem;
  }
  main .content .content-description p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  main .content .content-description button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;
    background-color: #CCCBAA;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    transition: all 0.15s ease-in;
  }
  main .content .content-description button:hover {
    border: 3px solid #CCCBAA;
    background-color: transparent;
    color: #191717;
  }
  .button-a{
    text-decoration: none;
    font-weight: 800;
    color: #191717;
  }
  
  main .content .content-image {
    flex: 1;
    display: flex;
  }
  main .content .content-image img {
    width: 300px;
    min-width: 250px;
    margin: auto;
  }
  
  main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
  }
  main aside .social-media {
    height: 100%;
    display: flex;
  }
  main aside .social-media ul {
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;
    background-color: #7D7C7C;
    display: flex;  flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  main aside .social-media li {
    list-style-type: none;
  }

  main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.1s ease-in-out;
  }
  main aside .social-media li a:hover {
    color: #191717;
  }
  div.aside-content.img{
    border-radius: 1px;
  }
  .myart{
    padding-top: 4rem;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }
.myart-h1{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 30px;
  background-color: #CCCBAA;
  border-radius: 5px;
}
.image-art{
  display: flex;
  flex-flow:column nowrap;
  gap: 1rem;
}
.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9{
  background-color: #7D7C7C;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
}
.content-image1{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image2{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image3{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image4{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image5{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image6{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image7{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image8{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.content-image9{
  background-color: #CCCBAA;
  border-radius: 5px;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.p{
  display: flex;
  flex-direction: column;
}
.art-button{
  padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;
    background-color: #7D7C7C;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    color: #191717;
    cursor: pointer;
    transition: all 0.15s ease-in;
}
.art-button:hover{
    border: 3px solid #7D7C7C;
    background-color: transparent;
    color: #191717;
    
}
.button-a{
  text-decoration: none;
  font-weight: 800;
  color: #191717;
}

  footer{
    padding-block: 1rem;
    margin-inline: auto;
   
    display: flex;
    z-index: 9999;
  }
/*media query*/
  @media screen and (max-width: 768px) {
    header.navbar-container {
      flex-direction: column;
    }
   
    header.navbar-container .nav-list ul {
      flex-wrap: wrap;
      column-gap: 0.5rem;
    }
    main {
        padding: 1rem 3rem;
      }
     
      main .content {
        flex-direction: column;
        gap: 2rem;
      }
     
      main .content .content-description .title {
        font-size: 3rem;
      }
      main .content .content-description p {
        font-size: 1rem;
      }
      main .content .content-image {
        order: -1;
      }

      .myart{
        flex-direction: column;
        gap: 2rem;
      }
      .image-art{
        flex-direction: column;
        gap: 2rem;
      }
      .image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9{
        align-self: center;
      }
      .content-image1,.content-image2,.content-image3,.content-image4,.content-image5,.content-image6,.content-image7,.content-image8,.content-image9{
        gap: 1rem;
        flex-direction: column;
      }
      .p{
        gap: .5rem;
        text-align: center
      }
      footer{
        flex-direction: column
      }
  }