*, 
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color:#F1EFEF;
  }
  header.navbar-container .logo img {
    width: 200px;
  }

  header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  header.navbar-container .nav-list li {
    padding-top: 2rem;
    font-size: 30px;
    list-style-type: none;
    align-items: center;
    margin: 0 0 0 0;
  }
  .a{
    align-items: center;
    justify-content: center;
    size: 65px;
  }

  nav.nav-list{
    align-items: center;
  }
  header.navbar-container .nav-list li a {
    padding: 1.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    transition: all 0.2s ease-in-out;
  }
  header.navbar-container .nav-list li:hover a {
    background-color: #191717;
    color: #F1EFEF;
  }
   
nav{
    position: sticky;
    height: 150px;
    top: 0;
}
header{
    position:sticky;
    width: 100%;
    height: 160px;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline: auto;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    z-index: 9999;
    background-color: #CCCBAA;

    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
h1 .title{
  size: 2rem;
}
main{
    padding-left: .2rem;
    padding-right: .2rem;
    width: 100%;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline: auto;
   
    display: flex;
    justify-content: space-around;
    gap: 1.3rem;
    
}
div.content{
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
main .content .content-image {
  flex: 1;
  display: flex;
}
main .content .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
}
div.content-description{
  width:fit-content;
  border-color: #CCCBAA;
  border-style:double;
  
}
div.section1-2{
  border-radius: 5px;
  background-color: #F1EFEF;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.section3-4{
  border-radius: 5px;
  gap: 1rem;
  background-color: #CCCBAA;
  padding: .5rem .5rem .5rem .5rem;
  
  display: flex;
  flex-direction: column;
}

.Riwayat,.prestasi,.Kesukaan{
  background-color: #191717;
  padding: 1rem 1rem 1rem 1rem;
}
  svg{
    width: 30px;
  }
.sect{
  color: #F1EFEF;
}
footer{
  padding-block: 1rem;
  margin-inline: auto;

  display: flex;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
    header{
      flex-direction: column;
    }
    
    header.navbar-container .nav-list li a {
      padding: 1.5rem 1rem;
    }
    main {
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }
      main .article{
        flex-direction: column;
        gap: 2rem;
      }
      div.content{
        flex-direction: column;
        gap: 1rem;
      }
      div.section1-2{
        display: flex;
        flex-direction: column;
      }
      .section3-4{
        display: flex;
      }
     
      footer{
        flex-direction: column
      }
  }